@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
   
}





body {height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
color: antiquewhite;
    }
    




.apresentacao{
    margin: 10% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}




.apresentacaoDestaque{
    font-size: 40px;
    font-family: "Roboto Mono", serif;
    color: #00ffff;


}


.titulo{
    font-size: 34px;
    font-family: "Roboto Mono", serif;
    color: #ffffff;
    
}



.texto{
color: #fcfcfc;
    font-size: 20px;
    font-family:    "Playfair Display", serif;


}


.minhaFOTO{
width: 500px;
border-radius: 100px;

}

.botao {
display: flex;
justify-content: center;
 width: 100%; /* Faz com que ele ocupe toda a largura disponível */
 margin-top: 20px; 
}


.supra_botao{
background-color: #00ffff;
width: 280px;
border-radius: 20px;
text-align: center;
font-size: 30px;
padding: 10px 0px;
text-decoration: none;
color: #000000;
font-family: "Montserrat", serif;
}