@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --cor-Primaria: #000000;
    --cor-Segundaria: #ffffff;
    --cor-Terciaria: #ff0000;
    --font-Primaria:"Montserrat",  sans-serif;
    --font-Segundaria:"Roboto Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-Primaria);
 
}

.apresentacao {
    margin: 10% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}

.conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:15px;
}

.apresentacaoDestaque {
    font-size: 2.5rem;
    font-family: var(--font-Segundaria);
    color: var(--cor-Terciaria);
}

.titulo {
    font-size: 2.125rem;
    font-family: var(--font-Segundaria);
    color: var(--cor-Segundaria);
}

.texto {
    color: var(--cor-Segundaria);
    font-size: 1.25rem;
    font-family: "Playfair Display", serif;
}

.minhaFOTO {
    width: 40%;
    border-radius: 60%;
}

.subtitulo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    padding: 2% 0%;
}

.subMAX {
    font-family: "Kanit", serif;
    font-weight: 500;
    color: var(--cor-Segundaria);
}

.botao {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.supra_botao {
    display: flex;
    justify-content: center;
    gap: 10%;
    border: 0.125rem solid var(--cor-Terciaria);
    width: 50%;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1.875rem;
    padding: 0.625rem 0;
    text-decoration: none;
    color: var(--cor-Segundaria);
    font-family: var(--font-Primaria);
}

.GitHubIcon {
    width:12%;
}

.supra_botao:hover {
    background-color: var(--cor-Terciaria);
}

.rodape {
    padding: 1%;
    color: var(--cor-Primaria);
    background-color: var(--cor-Terciaria);
    text-align: center;
    font-family: var(--font-Segundaria);
    font-size: 1.875rem;
    font-weight: 300;
}

.cabecalhoMenu {
    display: flex;
    gap: 10%;
    padding: 1% 10%;
    

}

.LinkCabecalhoHome {
    color: var(--cor-Segundaria);
    font-family: var(--font-Segundaria);
    font-size: 1.875rem;
    font-weight: 500;
    text-decoration: none;
    
}

.LinkCabecalhoSobremin {
    color: var(--cor-Segundaria);
    font-family: var(--font-Segundaria);
    font-size: 1.875rem;
    font-weight: 500;
    text-decoration: none;
}

.LinkCabecalhoCurricolo {
    color: var(--cor-Segundaria);
    font-family: var(--font-Segundaria);
    font-size: 1.875rem;
    font-weight: 500;
    text-decoration: none;
}

.Curricolo {
    font-family: var(--font-Segundaria);
    color: var(--cor-Terciaria);
    font-size: 2.1875rem;
}

.sobre {
    font-family: var(--font-Primaria);
    font-weight: 500;
    color: var(--cor-Segundaria);
}

.Competências {
    font-family: var(--font-Segundaria);
    color: var(--cor-Terciaria);
    font-size: 2.1875rem;
}

.ListaDeCompetencias {
    font-family: var(--font-Primaria);
    font-weight: 500;
    color: var(--cor-Segundaria);
}

.Experiências {
    font-family: var(--font-Segundaria);
    color: var(--cor-Terciaria);
    font-size: 2.1875rem;
}

.PeriodoRaízen {
    font-family: var(--font-Segundaria);
    font-weight: 500;
    color: var(--cor-Segundaria);
}

.ListaDeAtividades {
    font-family: var(--font-Primaria);
    font-weight: 500;
    color: var(--cor-Segundaria);
}

.Formação-Acadêmica {
    font-family: var(--font-Segundaria);
    color: var(--cor-Terciaria);
    font-size: 2.1875rem;
}

.PeriodoETEC {
    font-family: var(--font-Primaria);
    font-weight: 500;
    color: var(--cor-Segundaria);
}

.ListaDeCursos {
    font-family: var(--font-Primaria);
    font-weight: 500;
    color: var(--cor-Segundaria);
}

.nome-apresentacao {
    font-family: var(--font-Segundaria);
    color: var(--cor-Terciaria);
    font-size: 2.8rem;
    
}

.Sobre-min {
    font-size: 1.30rem;
    font-family: var(--font-Primaria);
    color: var(--cor-Segundaria);
}



@media(max-width:1250px){

.apresentacao{
display: flex;
flex-direction: column-reverse;
gap:20px;
width: auto;
}

.GitHubIcon {
    width:15%;
}






}


  /* Para celulares médios */
  @media (max-width: 769px) {

    .LinkCabecalhoHome {
    font-size: 1.400rem;
    font-weight: 500;

}

.LinkCabecalhoSobremin {
    font-size: 1.400rem;
    font-weight: 500;
    text-decoration: none;
}

.LinkCabecalhoCurricolo {
    font-size: 1.400rem;
    font-weight: 500;
    text-decoration: none;
}




    .apresentacao {
        margin: 4.100rem 2.100rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5%;
        width: auto;
    }

    .apresentacaoDestaque {
        font-size: 1.5rem;
    }
   
    .titulo {
        font-size: 1.125rem;
    }
    

    .apresentacao{
        display: flex;
        flex-direction: column-reverse;
        gap:20px;
        }
        .botao {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 5%;
        }
        
        .supra_botao {
            gap: 10%;
            width: 50%;
            font-size: 1.875rem;
            padding: 0.625rem 2.900rem;
        }
        
        .GitHubIcon {
            width:2.300rem;

}

  
@media (max-width: 481px) {
  
    .apresentacao{
        width: auto;
        margin: 3.300rem 0.800rem;
    }
    .apresentacaoDestaque{
        font-size: 1.20rem;
    }
    .titulo{
        font-size: 1.20rem;
    }
    .texto{
    font-size: 0.90rem;
        
    }

    .subMAX{
     font-size: 1.20rem; 
    }


.nome-apresentacao{
    font-size: 1.40rem; 
}

.Sobre-min{
font-size: 0.80rem;
}

 .sobre{
font-size: 0.70rem;

 }
.ListaDeCompetencias{
    font-size: 0.70rem;
}

.ListaDeAtividades{
    font-size: 0.70rem;   
}
.ListaDeCursos{

    font-size: 0.70rem;
}

.PeriodoETEC{
    font-size: 0.8rem;
}
.PeriodoRaízen{
    font-size: 0.8rem;

}



    .rodape {
        font-size: 1.30rem;
    }
    

    .Curricolo {
        font-size: 1.300rem;
    }



    .Competências {
        font-size: 1.300rem;
    }

    .Experiências {
        font-size: 1.300rem;
    }


    .Formação-Acadêmica {
        font-size: 1.300rem;
    }


}

@media (max-width: 320px){



    
    .apresentacao{
        width: auto;
        margin: 2.100rem 0.800rem;
    }
    .apresentacaoDestaque{
        font-size: 0.80rem;
    }
    .titulo{
        font-size: 0.80rem;
    }
    .texto{
    font-size: 0.60rem;
        
    }

    .subMAX{
     font-size: 1.0rem; 
    }


.nome-apresentacao{
    font-size: .90rem; 
}

.Sobre-min{
font-size: 0.50rem;
}

 .sobre{
font-size: 0.60rem;

 }
.ListaDeCompetencias{
    font-size: 0.60rem;
}

.ListaDeAtividades{
    font-size: 0.60rem;   
}
.ListaDeCursos{

    font-size: 0.60rem;
}

.PeriodoETEC{
    font-size: 0.7rem;
}
.PeriodoRaízen{
    font-size: 0.7rem;

}



    .rodape {
        font-size: 1.00rem;
    }
    

    .Curricolo {
        font-size: 1.300rem;
    }



    .Competências {
        font-size: 1.300rem;
    }

    .Experiências {
        font-size: 1.300rem;
    }


    .Formação-Acadêmica {
        font-size: 1.300rem;
    }

.LinkCabecalhoCurricolo{
font-size: 0.90rem;
}

.LinkCabecalhoHome{
    font-size: 0.90rem;

}

.LinkCabecalhoSobremin{
    font-size: 0.90rem;

}















}
    
}  
